@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
   
}
 
.poppins {
    font-family: 'Poppins', sans-serif;
}

.agbalumo {
    font-family: 'Agbalumo', sans-serif;
}

.black-text{
    color: #231F20;
}

.black-bg{
    background-color: #231F20;
}

.black-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
