@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@400;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    font-family: 'Josefin Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.agbalumo {
    font-family: 'Agbalumo', sans-serif;
}